body {
    font-family: sans-serif;
}

header {
    text-align: center;
    font-size: 30px;
}



#tabs-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab{
    width: 90px;
    height: 30px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover{
    background-color: aquamarine;
}


#main-text-field{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-button{
    /* width: 40px; */
    height: 30px;
    border: solid 1px;
    text-align: center;
    background-color: transparent;
    font-size: 12pt;
    border-radius: 5px;
}
.filter-button:hover{
    background-color: #B3A492;
}
.filter-button.active-filter{
    background-color: #ac9171;
}

.tab-new{
    cursor: pointer;
    padding: 5px;
    border: solid transparent;
    border-radius: 5px;

}
header a:visited {
    color: black;
}

.tab-new:hover{
    background-color: #B3A492;
    padding: 5px;
    border-color: #B3A492;
}

#filters-pane-opener:hover{
    cursor: pointer;
    border-color: #B3A492;
}


.record{
    background-color: #FAD9B6;
    margin-top: 20px;
    width: 45%;
    /* height: 150px; */
    padding: 10px;
    border: solid;
    border-color: #cec0b2;
    border-radius: 5px;
    display: none;
}

.record.active-record{
    display: block;
}

#filters-pane-opener:hover #filters-pane-title-section{
    color: rgb(110, 110, 110);
}


#filters-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    padding: 10px;
}

#projects-container{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    /* align-items: center; */
    flex-wrap: wrap;
    gap: 5px;
}

.record:hover{
    border-color: #B3A492;
}

.clickable-div {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
  }