body {
    font-family: monospace;
}

header {
    text-align: center;
    font-size: 30px;
}

footer{
    position: sticky;  
    bottom: 0;
    width: 100%;
    top: 50px;   
    text-align: center;
    height: 50px;
    padding-top: 40px;
}

#tabs-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.tab{
    width: 90px;
    height: 30px;
    margin: 10px;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab:hover{
    background-color: aquamarine;
}


#main-text-field{
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-button{
    /* width: 40px; */
    height: 30px;
    border: solid;
    text-align: center;
    background-color: transparent;
    font-size: 8px;
}
.filter-button:hover{
    background-color: aquamarine;
}
.filter-button.active-filter{
    background-color: rgb(27, 114, 85);
}


.record{
    background-color: #f2f2f2;
    margin-top: 20px;
    width: 40%;
    height: 150px;
    padding: 10px;
    border: solid;
    border-color: #f2f2f2;
    display: none;
}

.record.active-record{
    display: block;
}

#filters-container{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    gap: 20px;
    border: solid;
    padding: 10px;
}

#projects-container{
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.record:hover{
    border-color: aquamarine;
}

#techs-box{
    width: 300px;
    height: 100px;
}

#tech-stack-and-img{
    display: flex;
    margin-top: 30px;
    gap: 15px;
    justify-content: center;
}

#fav-algo-img-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#fav-algo-img{
    width: 380px;
    height: 260px;
}

.clickable-div {
    display: block; /* Make it a block-level element to cover its parent */
    width: 100%; /* Make it as wide as its parent */
    height: 100%; /* Make it as tall as its parent */
    text-decoration: none; /* Remove underline (if you don't want it) */
    color: inherit; /* Inherit text color from parent */
  }